@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  background: #051017;
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a, a:active, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5fdaed;
}


nav ul {
  list-style-type: none;
}

.outline {
  width: 100vw;
  height: 10vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  left: 20%;
  position: relative;
}
.nav-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-button {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-contact-button {
  background: #0EBAD4;
  background: linear-gradient(to left, #32cbe2 50%, #5fdaed 50%) right ;
  background-size: 200%;
  width: 110px !important;
  height: 50%;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav-contact-button:hover {
  background-position: left;
}

.nav-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  color: white;
  font: 16px Arial;
  transition: 0.3s ease;
}

.nav-label.active {
  color: #5fdaed;
  transform: scale(1.2);
}

.nav-label.active a {
  color: #5fdaed;
}

.nav-label:hover {
  color: #5fdaed;
}

.slide-content {
  height: 100%;
  left: 20%;
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content-direct {
  background-color: #3c4145;
  width: 40px;
  height: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease;
}

.content-direct.active {
  background-color: #5fdaed;
  width: 70px;
  cursor: default;
}

.left-arrow, .right-arrow {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  cursor: pointer;
}


.arrow::before, .arrow::after {
  content:"";
  position: absolute;
  background: #5fdaed;
  border-radius: 0.2rem;
  display: block;
}

.arrow.left, .arrow.right {
  width: 1.667em;
}

.arrow.left::before, .arrow.left::after {
  transform: rotate(45deg);
}

.arrow.left::after {
  transform: rotate(-45deg);
}

.arrow.right::before, .arrow.right::after {
  transform: rotate(-45deg);
}

.arrow.right::after {
  transform: rotate(45deg);
}

.arrow.left::before, .arrow.right::before {
  top: 55%;
  left: -5%;
  height: 25%;
  width: 110%;
}

.arrow.left::after, .arrow.right::after {
  bottom: 55%;
  left: -5%;
  height: 25%;
  width: 110%;
}


.content {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 60vw;
}

.intro {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;
}

.intro .intro-text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wall-text span {
  color: #5fdaed;
}

.intro-name {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  margin-top: 20px;
}

.intro-name .bold-name {
  color: #5fdaed;
}

.intro-text .list-icon {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.intro-text .list-icon .social-icon {
  width: 40px;
  color: #5fdaed;
  margin-right: 20px;
}

.intro-img .large-img {
  width: 400px;
}
.intro-touch {
  height: 10vh;
  margin-left: -25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position:relative;
  transition: 0.5s ease;
}

.resume {
  background: white;
  background: linear-gradient(to left, white 50%, #f6f8f8 50%) right ;
  background-size: 200%;
  width: 110px !important;
  height: 50%;
  font-weight: bold;
  color: #5fdaed !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-left: 25px;
}

.resume:hover {
  background-position: left;
}

.contact-form-layout {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  visibility: hidden;
  transform: scale(01);
  transition: 0.3s ease-out;
}

.contact-form .globel-tech {
  width: 100%;
}

.contact-form {
  width: 60vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: scale(1);
  transition: 0.4s ease-out;
}

.contact-form input {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}

.contact-form input:focus {
  outline: none;
}

.contact-form textarea {
  width: 80%;
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form .form-title {
  color: black;
}

.contact-form .input-form {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.contact-form .background-form {
  width: 40%;
  height: 100%;
}
.contact-form .send-button { 
  background: #0EBAD4;
  background: linear-gradient(to left, #32cbe2 50%, #5fdaed 50%) right ;
  background-size: 200%;
  width: 220px !important;
  height: 40px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: 10px;
}

.contact-form .send-button:hover {
  background-position: left;
}

.contact-form .send-button.loading {
  background: #bcf3f3;
  cursor: default;
}

.wall-container {
  width: 100vw;
  height: 90vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sticky-note {
  color:#000;
  display:inline-block;
  height:10em;
  width:12em;
  padding:1em;
  margin-left: 20px; 
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
  white-space: break-spaces;
  overflow-x: hidden;
}

.sticky-note:hover, .sticky-note:focus-within {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25) !important;
  position:relative;
  z-index:5;
}

.sticky-note .title {
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
}

.sticky-note .text {
  font-size: 1.5rem;
  font-family: 'Reenie Beanie';
  outline: none;
}

.intro-img.confession {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img.duba {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1220px) {
  .intro-name {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .intro-name {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1368px) {
  .intro-name {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 5vh;
  }

  .footer {
    height: 0vh;
  }

  .intro {
    height: 45%;
  }

  .nav-bar .nav-button, .left-arrow, .right-arrow, .slide-content, .intro-img { 
    display: none;
  }
  .nav-bar .nav-logo {
    width: 100%;
  }

  .nav-logo img {
    margin-top: 20px;
  }

  .main-content {
    width: 100vw;
    height: 90vh;
  }

  .intro-name {
    margin-top: 10px;
    margin-bottom: 0px !important;
  }

  .wall-text {
    margin-top: 10px;
  }

  .intro .intro-text {
    width: 100%;
    padding: 20px;
  }
  
  .container-content {
    flex-direction: column;
  }

  .intro-name {
    font-size: 25px;
  }

  .contact-form {
    width: 90vw;
    height: 60vh;
  }

  .contact-form .globel-tech {
    width: unset;
    height: 100%;
  }
  
  .contact-form .input-form {
    width: 100%;
  }
}